# ------------------------------
# Node
# ------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ------------------------------
# Build output
# ------------------------------
dist/
.slidev/
.cache/

# ------------------------------
# Environment files
# ------------------------------
.env
.env.local
.env.*.local

# ------------------------------
# Logs
# ------------------------------
logs
.log

# ------------------------------
# macOS
# ------------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon?

# Thumbnails
._

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# ------------------------------
# IDE
# ------------------------------
.vscode/
.idea/
*.swp
*.swo

# ------------------------------
# Misc
# ------------------------------
coverage/
tmp/
temp/
